<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Widam</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>widam</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>FirebaseAppDelegateProxyEnabled</key>
		<true/>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>tel</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSBonjourServices</key>
		<array>
			<string>_dartobservatory._tcp</string>
		</array>
		<key>NSCameraUsageDescription</key>
		<string>This app needs camera access to scan barcodes</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>Widam want access your location to deliver products.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Widam want access your location to deliver products.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>This app requires location access in the background to provide continuous service updates.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Please allow this app to access your photo library so that you can select and upload images to add your QID attachment.</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>UIUserInterfaceStyle</key>
		<string>Light</string>
		<key>branch_universal_link_domains</key>
		<array>
			<string>srwoi.app.link</string>
			<string>srwoi-alternate.app.link</string>
			<string>srwoi.test-app.link</string>
		</array>
		<key>branch_key</key>
		<dict>
			<key>live</key>
			<string>key_live_oDfEdP5xmgGnjxmXprHDzpbhBsmiOFV2</string>
			<key>test</key>
			<string>key_test_krnqbV8zkcKpdDb6iFQAAepfyrplUC1n</string>
		</dict>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>widam</string>
				</array>
				<key>CFBundleURLName</key>
				<string>net.ays.PROD489402</string>
			</dict>
		</array>
		<key>FlutterDeepLinkingEnabled</key>
		<true/>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>comgooglemaps</string>
			<string>baidumap</string>
			<string>iosamap</string>
			<string>waze</string>
			<string>yandexmaps</string>
			<string>yandexnavi</string>
			<string>citymapper</string>
			<string>mapswithme</string>
			<string>osmandmaps</string>
			<string>dgis</string>
			<string>qqmap</string>
			<string>here-location</string>
			<string>tomtomgo</string>
			<string>copilot</string>
			<string>com.sygic.aura</string>
			<string>nmap</string>
			<string>kakaomap</string>
			<string>tmap</string>
			<string>szn-mapy</string>
		</array>
	</dict>
</plist>